@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}

<div class="section-1">
    <div class="background">
        <div class="title-box text-center text-white">
            <h1 class="display-4">Cognition</h1>
            <p>The Image Classification Application</p>
        </div>
        <div class="button-group">
            <a href="#" class="button-primary">Gallery</a>
            <a href="#" class="button-secondary">Upload</a>
        </div>
    </div>
</div>

